## Path:        Development/Jenkins
## Description: Configuration for the Jenkins continuous build server
## Type:        string
## Default:     "/var/opt/jenkins"
## ServiceRestart: jenkins
#      _      _      _
#   __(.)< __(.)> __(.)=
#   \___)  \___)  \___)   SEU
#
#
# TEAM: ops

# For JVM Encoding in Jenkins
LC_ALL="en_US.UTF-8"

# Directory where Jenkins store its configuration and working
# files (checkouts, build reports, artifacts, ...).
#
JENKINS_HOME="/var/opt/jenkins"
JENKINS_TMP="/var/opt/jenkins_tmp"

# Load ENV variables
. $JENKINS_HOME/.bashrc

## Type:        string
## Default:     ""
## ServiceRestart: jenkins
#
# Java executable to run Jenkins
# When left empty, we'll try to find the suitable Java.
#
JENKINS_JAVA_CMD=$JENKINS_HOME/ruby_env_java_exec.sh

## Type:        string
## Default:     "jenkins"
## ServiceRestart: jenkins
#
# Unix user account that runs the Jenkins daemon
# Be careful when you change this, as you need to update
# permissions of $JENKINS_HOME and /var/log/jenkins.
#
JENKINS_USER="jenkins"

## Type:        string
## Default:     "-Djava.awt.headless=true"
## ServiceRestart: jenkins
#
# Options to pass to java when running Jenkins.
#
JENKINS_JAVA_BASIC_OPTS="<%- scope.function_hiera_hash(['global::config::jenkins_jvm_basic_opts']).each do |key, value| -%><%= key -%><%= value -%><%= ' ' -%><%- end -%>"
#JENKINS_JAVA_OPTIONS="$JENKINS_JAVA_BASIC_OPTS <%- scope.function_hiera_hash(['global::config::jenkins_jvm_opts']).each_with_index do |key_value, index| -%><%= key_value[0] -%>=<%= key_value[1] -%><%= ' ' -%><%- end -%>"
JENKINS_JAVA_OPTIONS="$JENKINS_JAVA_BASIC_OPTS <%- scope.function_hiera_hash(['global::config::jenkins_jvm_opts']).each_with_index do |key,index| -%><%- if key[1].empty? %><%= key[0] -%><%= ' ' -%><%- else -%><%= key[0] %>=<%= key[1] %><%= ' ' -%><%- end -%><%- end -%>"

## Type:        integer(0:65535)
## Default:     8080
## ServiceRestart: jenkins
#
# Port Jenkins is listening on.
# Set to -1 to disable
#
JENKINS_PORT="8081"
HTTP_PORT="8081"

## Type:        string
## Default:     0.0.0.0
## ServiceRestart: jenkins
#
# The HTTP listening address.
# Default is all interfaces
#
JENKINS_LISTEN_ADDRESS="127.0.0.1"

## Type:        integer(0:65535)
## Default:     8009
## ServiceRestart: jenkins
#
# Ajp13 Port Jenkins is listening on.
# Set to -1 to disable
#
JENKINS_AJP_PORT="8009"

## Type:        integer(1:9)
## Default:     5
## ServiceRestart: jenkins
#
# Debug level for logs -- the higher the value, the more verbose.
# 5 is INFO.
#
JENKINS_DEBUG_LEVEL="5"

## Type:        integer
## Default:     40
## ServiceRestart: jenkins
#
# Maximum number of HTTP worker threads.
#
JENKINS_HANDLER_MAX="100"

## Type:        integer
## Default:     5
## ServiceRestart: jenkins
#
# Number of worker threads to spawn at startup.
# Default is 5
#
JENKINS_HANDLER_STARTUP="5"

## Type:        integer
## Default:     5
## ServiceRestart: jenkins
#
# Maximum number of idle HTTP worker threads.
#
JENKINS_HANDLER_IDLE="20"

## Type:        yesno
## Default:     no
## ServiceRestart: jenkins
#
# Whether to enable access logging or not.
#
JENKINS_ENABLE_ACCESS_LOG="no"

## Type:        string
## Default:     ""
## ServiceRestart: jenkins
#
# Pass arbitrary arguments to Jenkins.
# Full option list: java -jar jenkins.war --help
#
JENKINS_ARGS="--logfile=/var/opt/log/jenkins/jenkins.log"
