Host <%= @host %>
<%- if @user -%>
  User <%= @user %>
<%- end -%>
<%- if @forwardagent -%>
  ForwardAgent <%= @forwardagent %>
<%- end -%>
<%- if @identitiesonly -%>
  IdentitiesOnly <%= @identitiesonly %>
<%- end -%>
<%- if @ssh_keys -%>
  <%- @ssh_keys.each do |key| -%>
  IdentityFile <%= key %>
  <%- end -%>
<%- end -%>
<%- if @logl -%>
  LogLevel <%= @logl %>
<%- end -%>
<%- if @stricthostkeychecking -%>
  StrictHostKeyChecking <%= @stricthostkeychecking %>
<%- end -%>
<%- if @checkhostip -%>
  CheckHostIP <%= @checkhostip %>
<%- end -%>
<%- if @userknownhostsfile -%>
  UserKnownHostsFile <%= @userknownhostsfile %>
<%- end %>
